<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/health">Health</a>
        <a href="/ready">Ready</a>
        <a href="/api/data">API</a>
        <a href="/images">Images</a>
        <a href="/health2">Health2</a>
        <a href="/loadtest">Load Test</a>
        <a href="/about">About</a>
    </div>
    <h1>Here is your About page</h1>
    <!-- Use url_for to correctly link to the static file -->
    <h3>All about</h3>
</body>
</html>