<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Check</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/health">Health</a>
        <a href="/ready">Ready</a>
        <a href="/api/data">API</a>
        <a href="/images">Images</a>
        <a href="/health2">Health2</a>
        <a href="/about">About</a>
    </div>
    <h1>Here is your Health Check:</h1>
    <!-- Use url_for to correctly link to the static file -->
    <h3>Health Check results</h3>
     <form method="get" action="{{ url_for('health2') }}"  id="lines" name="lines" min="1" value="{{ lines }}" >
        <button type="submit">Refresh</button>
    </form>

    <p>Showing last <strong>{{ lines }}</strong> lines of <code>{{ log_path }}</code></p>
    <pre>{{ content }}</pre>

</body>
</html>