<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/health">Health</a>
        <a href="/ready">Ready</a>
        <a href="/api/data">API</a>
        <a href="/images">Images</a>
        <a href="/health2">Health2</a>
        <a href="/loadtest">Load Test</a>
        <a href="/about">About</a>
    </div>
    <h1>Here is your Home page</h1>
    <!-- Use url_for to correctly link to the static file -->
    <h3>Orchestration - Kubernetes Basics & Advanced</h3>
    <p>DevOps Experts Course - Phase 2</p>
    <p>A simple Flask application containerized with Docker, demonstrating multiple routes and basic web functionalities. Orchestrated using Kubernetes, with ReplicaSet for managing the application, exposed externally using a Kubernetes Service. With implementation of Horizontal Pod Autoscaling (HPA) based on CPU usage. Use ConfigMaps and Secrets to manage configuration, set up with Kubernetes CronJobs to automate periodic tasks. Implementation of Liveness and Readiness Probes for monitoring application health.</p>
</body>
</html>
